.contact {
    position: relative;
    top:80px;
}

#contact {
    position: relative;
    top:-100px;
}

.contact p {
padding-left: 10%;
 padding-right: 10%;
}

a.email-link,
a.email-link:visited {
  color: #A6487F;
}